<ion-view view-title="{{city}}">
  <ion-content>
    <i class='wi wi-{{forecast.currently.icon}}'></i>
    <ion-list>
      <ion-item>
        {{forecast.currently.summary}}
      </ion-item>
      <ion-item>
        Temperature : {{forecast.currently.temperature}}&deg
      </ion-item>
      <ion-item>
        Feels like: {{forecast.currently.apparentTemperature}}&deg
      </ion-item>
      <ion-item>
        Wind: {{forecast.currently.windSpeed}} mph
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
