<ion-view view-title="{{city}}">
  <ion-content>
    <ion-list class='temp-color'>
      <ion-item class='weather-item'> Currently:
        {{forecast.currently.summary}}
        <i class="bigger wi wi-{{iconText}}"></i>
      </ion-item class='weather-item'>
      <ion-item class='weather-item'>
        Temperature : {{forecast.currently.temperature | number : precision}}&deg {{scale}}
      </ion-item>
      <ion-item class='weather-item'>
        Feels like: {{forecast.currently.apparentTemperature | number : precision}}&deg {{scale}}
      </ion-item>
      <ion-item class='weather-item'>
        Chance of precipitation: {{forecast.currently.precipProbability}}%
      </ion-item>
    </ion-list class='weather-item'>
    <div class="card">
      <div class="item item-divider bigger">
        Forecast
      </div>
      <div class="item item-text-wrap italics">
        {{forecast.daily.summary}}
      </div>
    </div>
    <button class="button button-full bigger" ng-click='saveCity()' ng-disabled='disableButton'>Save City</button>
  </ion-content>
</ion-view>
