/* Empty. Add your own CSS if you like */
.result{
  text-decoration: none !important;
  color: gray !important;
}

.bigger{
  font-size: 1.25em;
  color: #1E1440;
}

.darkpurple{
  background-color: #1E1440 !important;
}
